In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
input_path = Path.home() / "hi-paris-2025/data/raw/X_test.csv"

print("Fichier X_test :", input_path)
print("Existe :", input_path.is_file())

if input_path.is_file():
    size_bytes = os.path.getsize(input_path)
    size_gb = size_bytes / (1024**3)
    print(f"Taille de X_test.csv : {size_gb:.2f} Go")
else:
    raise FileNotFoundError(f"Fichier introuvable : {input_path}")

Fichier X_test : /mnt/hdd/homes/akok/hi-paris-2025/data/raw/X_test.csv
Existe : True
Taille de X_test.csv : 0.54 Go

In [4]:
chunksize = 10_000  

null_counts = None 
total_rows = 0      

for i, chunk in enumerate(pd.read_csv(input_path, chunksize=chunksize)):

    total_rows += len(chunk)
    chunk_nulls = chunk.isna().sum()
    
    if null_counts is None:
        null_counts = chunk_nulls
    else:
        null_counts = null_counts.add(chunk_nulls, fill_value=0)
    
    print(f"Chunk {i+1} traité, lignes dans ce chunk : {len(chunk)}")

print("Analyse terminée.")
print("Nombre total de lignes lues :", total_rows)

Chunk 1 traité, lignes dans ce chunk : 10000
Chunk 2 traité, lignes dans ce chunk : 10000
Chunk 3 traité, lignes dans ce chunk : 10000
Chunk 4 traité, lignes dans ce chunk : 10000
Chunk 5 traité, lignes dans ce chunk : 10000
Chunk 6 traité, lignes dans ce chunk : 10000
Chunk 7 traité, lignes dans ce chunk : 10000
Chunk 8 traité, lignes dans ce chunk : 10000
Chunk 9 traité, lignes dans ce chunk : 10000
Chunk 10 traité, lignes dans ce chunk : 10000
Chunk 11 traité, lignes dans ce chunk : 10000
Chunk 12 traité, lignes dans ce chunk : 10000
Chunk 13 traité, lignes dans ce chunk : 10000
Chunk 14 traité, lignes dans ce chunk : 10000
Chunk 15 traité, lignes dans ce chunk : 10000
Chunk 16 traité, lignes dans ce chunk : 10000
Chunk 17 traité, lignes dans ce chunk : 10000
Chunk 18 traité, lignes dans ce chunk : 10000
Chunk 19 traité, lignes dans ce chunk : 10000
Chunk 20 traité, lignes dans ce chunk : 10000
Chunk 21 traité, lignes dans ce chunk : 10000
Chunk 22 traité, lignes dans ce chunk : 10000
Chunk 23 traité, lignes dans ce chunk : 10000
Chunk 24 traité, lignes dans ce chunk : 10000
Chunk 25 traité, lignes dans ce chunk : 10000
Chunk 26 traité, lignes dans ce chunk : 10000
Chunk 27 traité, lignes dans ce chunk : 10000
Chunk 28 traité, lignes dans ce chunk : 10000
Chunk 29 traité, lignes dans ce chunk : 10000
Chunk 30 traité, lignes dans ce chunk : 10000
Chunk 31 traité, lignes dans ce chunk : 10000
Chunk 32 traité, lignes dans ce chunk : 10000
Chunk 33 traité, lignes dans ce chunk : 10000
Chunk 34 traité, lignes dans ce chunk : 10000
Chunk 35 traité, lignes dans ce chunk : 10000
Chunk 36 traité, lignes dans ce chunk : 10000
Chunk 37 traité, lignes dans ce chunk : 10000
Chunk 38 traité, lignes dans ce chunk : 10000
Chunk 39 traité, lignes dans ce chunk : 10000
Chunk 40 traité, lignes dans ce chunk : 10000
Chunk 41 traité, lignes dans ce chunk : 10000
Chunk 42 traité, lignes dans ce chunk : 10000
Chunk 43 traité, lignes dans ce chunk : 10000
Chunk 44 traité, lignes dans ce chunk : 10000
Chunk 45 traité, lignes dans ce chunk : 10000
Chunk 46 traité, lignes dans ce chunk : 10000
Chunk 47 traité, lignes dans ce chunk : 10000
Chunk 48 traité, lignes dans ce chunk : 10000
Chunk 49 traité, lignes dans ce chunk : 10000
Chunk 50 traité, lignes dans ce chunk : 10000
Chunk 51 traité, lignes dans ce chunk : 10000
Chunk 52 traité, lignes dans ce chunk : 10000
Chunk 53 traité, lignes dans ce chunk : 10000
Chunk 54 traité, lignes dans ce chunk : 10000
Chunk 55 traité, lignes dans ce chunk : 10000
Chunk 56 traité, lignes dans ce chunk : 10000
Chunk 57 traité, lignes dans ce chunk : 10000
Chunk 58 traité, lignes dans ce chunk : 10000
Chunk 59 traité, lignes dans ce chunk : 6044
Analyse terminée.
Nombre total de lignes lues : 586044

In [5]:
from IPython.display import display

results = null_counts.to_frame(name="null_count").reset_index()
results.rename(columns={"index": "column"}, inplace=True)

results["null_percentage"] = results["null_count"] / total_rows * 100

results_sorted = results.sort_values(by="null_count", ascending=False)

print("Top 10 des colonnes avec le plus de valeurs nulles :")
display(results_sorted.head(10))

Top 10 des colonnes avec le plus de valeurs nulles :

                     column  null_count  null_percentage
227  math_q16_average_score      586044            100.0
226  math_q15_average_score      586044            100.0
281   math_q15_total_timing      586044            100.0
268    math_q2_total_timing      586044            100.0
269    math_q3_total_timing      586044            100.0
282   math_q16_total_timing      586044            100.0
283   math_q17_total_timing      586044            100.0
284   math_q18_total_timing      586044            100.0
285   math_q19_total_timing      586044            100.0
272    math_q6_total_timing      586044            100.0

In [ ]:
output_stats_path = Path.home() / "hi-paris-2025/data/processed/X_test_null_stats.csv"
output_stats_path.parent.mkdir(parents=True, exist_ok=True)

results_sorted.to_csv(output_stats_path, index=False)
print("Statistiques de valeurs nulles sauvegardées dans :")
print(output_stats_path)

Statistiques de valeurs nulles sauvegardées dans :
/mnt/hdd/homes/akok/hi-paris-2025/data/processed/X_test_null_stats.csv

In [13]:
csv_path = Path.home() / "hi-paris-2025/data/processed/X_train_clean.csv"

df_header = pd.read_csv(csv_path, nrows=0)

print("Nombre de colonnes :", len(df_header.columns))
print("Noms des colonnes :")
print(list(df_header.columns))

Nombre de colonnes : 238
Noms des colonnes :
['Unnamed: 0', 'Year', 'CNT', 'CNTRYID', 'CYC', 'NatCen', 'STRATUM', 'SUBNATIO', 'OECD', 'ADMINMODE', 'LANGTEST_QQQ', 'LANGTEST_COG', 'LANGTEST_PAQ', 'Option_CT', 'Option_FL', 'Option_ICTQ', 'Option_WBQ', 'Option_PQ', 'Option_TQ', 'Option_UH', 'ST001D01T', 'ST003D02T', 'ST003D03T', 'ST004D01T', 'EFFORT1', 'EFFORT2', 'OCOD1', 'OCOD2', 'OCOD3', 'AGE', 'GRADE', 'ISCEDP', 'IMMIG', 'COBN_S', 'MISSSC', 'MATHEASE', 'WB153', 'ST253', 'ST311', 'WB165', 'IC171', 'ST038', 'IC180', 'ST255', 'ST350', 'ST034', 'FL162', 'PA195', 'ST330', 'FL169', 'ST230', 'ST331', 'ST354', 'PA042', 'ST305', 'ST258', 'PA167', 'IC176', 'ST352', 'IC173', 'PA188', 'ST283', 'ST256', 'WB154', 'WB166', 'FL150', 'ST266', 'IC174', 'ST005', 'ST021', 'IC182', 'FL164', 'FL160', 'ST267', 'ST338', 'ST351', 'ST342', 'ST355', 'FL166', 'PA183', 'ST007', 'FL170', 'WB168', 'WB163', 'IC184', 'ST348', 'ST226', 'ST336', 'WB160', 'FL167', 'PA166', 'ST250', 'ST268', 'IC177', 'PA196', 'IC183', 'ST275', 'IC172', 'IC175', 'ST340', 'ST296', 'ST270', 'ST289', 'ST353', 'ST349', 'ST301', 'PA186', 'WB164', 'PA197', 'ST290', 'ST062', 'ST254', 'ST345', 'ST322', 'IC170', 'PA006', 'ST347', 'ST343', 'ST307', 'ST160', 'ST168', 'ST161', 'ST153', 'ST188', 'PA009', 'PA182', 'PA004', 'ST059', 'ST150', 'PA158', 'WB155', 'WB162', 'ST127', 'EC162', 'ST104', 'PA003', 'ST125', 'ST163', 'ST297', 'ST006', 'ST263', 'PA162', 'ST164', 'ST008', 'ST152', 'EC031', 'WB177', 'ST183', 'EC012', 'ST223', 'ST177', 'ST102', 'PA041', 'EC163', 'PA008', 'PA177', 'ST175', 'ST273', 'EC153', 'ST212', 'PA154', 'PA156', 'PA007', 'PA159', 'ST300', 'ST036', 'PA018', 'ST208', 'ST165', 'PA175', 'ST167', 'ST211', 'WB176', 'ST158', 'WB178', 'IC014', 'ST213', 'ST327', 'ST251', 'ST260', 'PA160', 'ST095', 'PA033', 'ST146', 'ST098', 'ST100', 'ST097', 'ST113', 'PA002', 'PA032', 'IC001', 'ST008.1', 'ST006.1', 'PA008.1', 'ST011', 'reading_q1_average_score', 'reading_q2_average_score', 'reading_q3_average_score', 'reading_q4_average_score', 'reading_q5_average_score', 'reading_q6_average_score', 'reading_q7_average_score', 'reading_q8_average_score', 'reading_q9_average_score', 'science_q1_average_score', 'science_q2_average_score', 'science_q3_average_score', 'science_q4_average_score', 'science_q5_average_score', 'science_q6_average_score', 'science_q7_average_score', 'science_q8_average_score', 'science_q9_average_score', 'science_q10_average_score', 'science_q11_average_score', 'science_q12_average_score', 'reading_q1_total_timing', 'reading_q2_total_timing', 'reading_q3_total_timing', 'reading_q4_total_timing', 'reading_q5_total_timing', 'reading_q6_total_timing', 'reading_q7_total_timing', 'reading_q8_total_timing', 'reading_q9_total_timing', 'math_q1_total_timing', 'science_q1_total_timing', 'science_q2_total_timing', 'science_q3_total_timing', 'science_q4_total_timing', 'science_q5_total_timing', 'science_q6_total_timing', 'science_q7_total_timing', 'science_q8_total_timing', 'science_q9_total_timing', 'science_q10_total_timing', 'science_q11_total_timing', 'science_q12_total_timing']

In [9]:
csv_path = Path.home() / "hi-paris-2025/data/processed/X_train_clean.csv"  
chunk_size = 100_000             

row_count = 0

for chunk in pd.read_csv(csv_path, chunksize=chunk_size):
    row_count += len(chunk)

print(f"Nombre total de lignes : {row_count}")

Nombre total de lignes : 1172086